<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />

        <base href="/" />

        {{ block "meta" . }}{{ end }}

        {{ block "preload" . }}{{ end }}


        <link
            rel="preconnect"
            href="https://fonts.googleapis.com"
        />

        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        />

        <link
            id="google-fonts"
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        />

        <link
            id="tabler-icons"
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.4.0/dist/tabler-icons.min.css"
        />

        <link
            id="custom-styles"
            rel="stylesheet"
            href="/style.css"
        />

        <title>{{ block "title" . }}melodeon{{ end }}</title>
    </head>

    <body>
        {{ template "sidebar.gotmpl" . }}


        <main id="main">
            {{ template "header.gotmpl" . }}


            <section id="content">
                {{ block "content" . }}{{ end }}
            </section>

            {{ template "footer.gotmpl" . }}
        </main>

        <x-backdrop></x-backdrop>

        <script
            defer
            src="/melodeon.umd.cjs"
        ></script>

    <script
        type="application/json"
        id="session"
    >
        {{ session | toRawJson | unescapeJS }}
    </script>
    </body>
</html>
