<footer
    id="footer"
    class="footer"
>
    <p class="footer__text">
        Copyright &copy; 2024
        <a
            class="link"
            href="https://bdreece.dev"
            target="_blank"
            rel="noreferrer"
        >
            Brian Reece
        </a>
    </p>
</footer>
