<header
    id="header"
    class="header"
>
    <a
        class="header__brand"
        href="/"
    >
        <h1>melodeon</h1>
    </a>

    <nav class="header__nav nav">
        <ul>
            <li class="nav__item">
                <a
                    class="nav__link"
                    href="/"
                >
                    Home
                </a>
            </li>
        </ul>
    </nav>

    <x-room-menu></x-room-menu>
</header>
