{{template "_layout.gotmpl" .}}

{{define "title"}}melodeon &mdash; Host Web Player{{end}}

{{define "content"}}

<section>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quos nam ea porro recusandae impedit deserunt quo, quam voluptates, delectus natus eum minima officiis error veritatis laboriosam aliquam laudantium sapiente!
</section>

{{end}}

