{{ template "base.gotmpl" . }}

{{ define "content" }}
    <article
        id="home"
        class="hero"
    >
        <section class="hero__content">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci nobis nesciunt blanditiis dicta
                tenetur labore aliquid ut earum quo explicabo deserunt libero, magnam animi architecto qui dignissimos
                hic alias quae.
            </p>
        </section>
    </article>
{{ end }}
