{{template "_host.gotmpl" .}}

{{define "title"}}melodeon &mdash; Create Room Wizard{{end}}

{{define "host-content"}}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dicta vitae,
aperiam error non neque unde esse vel eum quo minus quae, eveniet ducimus!
Inventore nemo consequuntur eaque deleniti nobis?

{{end}}
