{{template "_host.gotmpl" .}}

{{define "title"}}melodeon &mdash; Host Web Player{{end}}

{{define "host-content"}}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex a corrupti voluptas minus, nemo, debitis corporis accusamus, exercitationem reiciendis reprehenderit tempora. Cumque sed quidem, sit veritatis eligendi magni similique laborum?

{{end}}
