{{template "_layout.gotmpl" .}}

{{define "title"}}melodeon &mdash; Logout{{end}}

{{define "content"}}

<section>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rem, distinctio tempora minima velit ea est, eum animi culpa ducimus temporibus eveniet, molestiae ipsa quidem corporis odit ad voluptate laudantium.
</section>

{{end}}
