<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <link
        rel="icon"
        href="/images/favicon.ico"
    >

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    >

    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rowdies:wght@300;400;700&display=swap"
    >

    <link
        rel="stylesheet"
        href="/style.css"
    >

    <title>@(ViewData["Title"] ?? "melodeon")</title>
</head>

<body
    hx-ext="head-support"
    hx-boost="true"
    hx-select="#content"
    hx-target="#content"
>
    <div class="drawer">
        <input
            type="checkbox"
            class="drawer-toggle"
            id="drawer-toggle"
        >

        <main
            class="drawer-content min-h-screen flex flex-col"
            id="content"
        >
            <header class="navbar bg-base-300 w-full">
                <div class="flex-none lg:hidden">
                    <label
                        for="drawer-toggle"
                        aria-label="open sidebar"
                        class="btn btn-square btn-ghost"
                    >
                        <i class="iconify tabler--menu"></i>
                    </label>
                </div>

                <div class="flex-1">
                    <a
                        class="flex items-center btn btn-ghost text-2xl font-display"
                        href="/"
                    >
                        <img
                            src="/images/favicon-32x32.png"
                            width="32"
                            height="32"
                            alt=""
                        >

                        <span>melodeon</span>
                    </a>
                </div>

                @if (User.IsInRole(Role.Host))
                {
                    <partial name="_HostNavbar" />
                }
                else if (User.IsInRole(Role.Guest))
                {
                    <partial name="_GuestNavbar" />
                }
                else
                {
                    <partial name="_Navbar" />
                }
            </header>

            <section class="grow">
                @RenderBody()
            </section>

            <partial name="_Footer" />
        </main>

        <aside class="drawer-side isolate z-20">
            <label
                for="drawer-toggle"
                aria-label="close sidebar"
                class="drawer-overlay"
            ></label>

            @if (User.IsInRole(Role.Host))
            {
                <partial name="_HostSidebar" />
            }
            else if (User.IsInRole(Role.Guest))
            {
                <partial name="_GuestSidebar" />
            }
            else
            {
                <partial name="_Sidebar" />
            }
        </aside>

        @if (User.IsInRole(Role.Host))
        {
            <menu hx-ext="morph" class="navbar bg-base-300 fixed bottom-0 z-10 flex flex-col sm:flex-row gap-4 justify-evenly items-center">
                <spotify-player></spotify-player>

                <spotify-volume></spotify-volume>
            </menu>
        }
    </div>

    @if (User.IsInRole(Role.Host))
    {
        <script async src="https://sdk.scdn.co/spotify-player.js"></script>
    }
    <script
        type="module"
        src="/index.js"
    ></script>
</body>

</html>
