<nav class="flex-none gap-2 hidden lg:block">
    <div class="grid grid-cols-[auto_auto_auto] gap-4">
        <form
            class="col-span-2 grid grid-cols-subgrid"
            method="get"
            asp-area="Guest"
            asp-controller="Login"
        >
            <input
                type="text"
                name="code"
                placeholder="Room Code"
                class="input input-bordered"
                required
                minlength="8"
                maxlength="8"
            />

            <button
                class="btn btn-secondary"
                type="submit"
            >
                Join Room
            </button>
        </form>

        <a
            class="btn btn-primary"
            asp-area="Host"
            asp-controller="Home"
            asp-action="Index"
            hx-boost="false"
        >
            Create Room
        </a>
    </div>
</nav>
