<menu class="navbar bg-base-300 fixed bottom-0 z-10 flex justify-evenly">
    <div id="playbar"></div>
</menu>

@section Scripts {
    <script async src="https://sdk.scdn.co/spotify-player.js"></script>
}
