@use '../theme';

.header {
    display: flex;
    align-items: center;
    gap: calc(4 * theme.$spacer);
    padding: calc(2 * theme.$spacer) calc(4 * theme.$spacer);

    & > &__brand {
        font-size: 125%;
        font-weight: 800;

        & > h1 {
            padding-block: theme.$spacer;
        }
    }

    & > &__nav {
        flex: 1;
    }
}
