@use '../theme';

.nav {
    & > ul {
        display: flex;
        align-items: stretch;
        gap: calc(2 * theme.$spacer);
    }

    & &__item {
        padding: theme.$spacer calc(2 * theme.$spacer);
        border-radius: 4px;
        transition: background-color 200ms;

        &:hover {
            background-color: var(--color-primary-light);
        }
    }
}
